/* Footer */

.footer {
    display: flex;
    justify-content: space-between;
    border-top: 4px solid $accent-color;
    background: $gradient-background;   
    color: $font-color;
    padding: 4rem 6rem;


    a {
        color: $font-color;
        text-decoration: none;
    }

    .social {
        font-size: 1.96rem;
        text-decoration: none;
    }
}
