@import '../../node_modules/normalize.css/normalize';
@import 'variables';

@import 'typography';

@import 'base';
@import 'footer';

@import 'blockquotes';
@import 'code';
@import 'test';

body {
    background-color: $background-color;
    color: $font-color;
}

/* {
    color: $font-color;
}*/
