@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';

@import '../../node_modules/normalize.css/normalize';
@import 'variables-dark';
@import 'title-nav-dark';

@import 'typography';

@import 'base-dark';
@import 'footer-dark';

@import 'blockquotes';
@import 'code';
@import 'technologies';
@import 'analysis-dark';

@import 'test';

body {
    background-color: $background-color;
    color: $font-color;
}

