/* Title */

.title, .logo {
    padding: 3em 3em 3em 0;
}

.logo {
    filter: brightness(90%);
}

@media (max-width: 767px) {
    .title, .logo {
        padding: 1em 1em 1em 0;
    }
    
    .title {
        min-width: 50%;
    }
    
    .logo {
        max-width: 30%;
    }
}

.title * {
    color: $font-color;
    text-decoration: none;
}

.title p {
    font-style: italic;
    
}


.nav a {
    color: $font-color;
    font-size: 2rem;
    text-decoration: none;
}

.nav a:hover {
    border-bottom: 4px solid $accent-color;
}
