@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Playfair+Display&family=Titillium+Web:ital,wght@1,200&display=swap');

$header-font: 'Lato', sans-serif;
$main-font: 'Playfair Display', serif;

$font-color: #00291E;
$font-alternative-color: #e0fbfc;
$accent-color: #5C7592;
$accent-color-dark: #0B294C;
$background-color: #A2BEB7;
$background-alternative-color: #A4B0BE;
$accent-color-complement: #C19198;
$gradient-background: linear-gradient(to right, $background-color, $background-alternative-color);

$base-line-height: 1.4;
$base-font-size: 1.5rem;

$container-color: #A4D996;
$container-color-light: #96D9B8;
$container-color-purple: #94D89F;
$container-complement-purple: #C0D996;
$container-complement-turqoise: #96D9CE;
