@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Playfair+Display&family=Titillium+Web:ital,wght@1,200&display=swap');

$header-font: 'Lato', sans-serif;
$main-font: 'Playfair Display', serif;

$font-color: #e0fbfc;
$font-alternative-color: #212121;
$accent-color: #95B326;
$background-color: #2a2a2a;
$background-alternative-color: #6A3F99;
$background-alternative-color2: #6A3F99;
$accent-color-complement: #C19198;
$gradient-background: linear-gradient(to right, $background-color, $background-alternative-color);

$base-line-height: 1.4;
$base-font-size: 1.5rem;

