{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <img class="flash-img" src="{{ base_url }}/image/waves.jpg&f=brightness,-50">


    <div class="main" role="main">
        {{ content }}
    </div>

    
    {% include 'incl/footer.twig' %}
</body>

</html>
