{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <img class"flash-img" src="https://www.publicdomainpictures.net/pictures/270000/velka/ocean-wave-web-banner.jpg?w=550&h=325&crop-to-fit">


    <div class="main" role="main">
        <div class="landingpage">
            {{ content }}
        </div>
    </div>

    
    {% include 'incl/footer.twig' %}
</body>

</html>
